<!DOCTYPE html>
<html>
<head>
	<meta charset ="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MiAmorStore</title>
	{% load static %}
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/signStyle.css' %}" type="text/css">
    <link src="{% static 'js/jquery-3.3.1.min.js' %}">
    <link src="{% static 'js/SignIndex.js' %}">
    <style>
    	@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

       body {
        height: 100%;
        background-image: url("{% static 'mainApp/image/bg.jpg' %}");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
       }
       .align .name{
       	color: white;
       	text-decoration: none;
       }

   </style>
</head>
<body>
	<div class="align">
        <a class="name" href="/" style="font-size: 3em; font-family: 'Yellowtail', cursive; color: rgb(220,220,220);">MiAmorStore</a>
		<div class="card" style="background: rgba(0,0,0,0.8)">
			<div class="head">
				<div></div>
				<a id="login" class="selected" href="#login">Login</a>
				<a id="register" href="#register">Register</a>
				<div></div>
			</div>
			<div class="tabs">
				<form>
					<div class="inputs">
						<div class="input">
							<input placeholder="Username" type="text">
							<img src="{% static 'mainApp/image/user.svg' %}">
						</div>
						<div class="input">
							<input placeholder="Password" type="password">
							<img src="{% static 'mainApp/image/pass.svg' %}">
						</div>
					</div>
					<button>Login</button>
				</form>
				<form>
					<div class="inputs">
						<div class="input">
							<input placeholder="Email" type="text">
							<img src="{% static 'mainApp/image/mail.svg' %}">
						</div>
						<div class="input">
							<input placeholder="Username" type="text">
							<img src="{% static 'mainApp/image/user.svg' %}">
						</div>
						<div class="input">
							<input placeholder="Password" type="password">
							<img src="{% static 'mainApp/image/pass.svg' %}">
						</div>
					</div>
					<button>Register</button>
				</form>
			</div>
		</div>
	</div>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/SignIndex.js' %}"></script>
</body>
</html>
